<div class="card" style="width: 18rem">
  <img class="card-img-top" [src]="(observable | async).message" alt="Card image cap" />
  <div class="card-body">
    <app-child [(data)]="data.status"></app-child>
    <p class="card-text">
      {{ fraseUno | uppercase}} <br>
      {{ fraseDue | lowercase }} <br>
      {{ euro | currency:"EUR"}} <br>
      {{ euro | currency:"USD"}} <br>
      {{ euro | currency:"CAD"}} <br>
      {{ fraseTre | slice:2:7 }} <br>
      {{(observable | async).status}}
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
